---
title: Lesinhouden
layout: default
bodyClass: page-testimonials-list
permalink: /fabzero
---

<div class="intro intro-med">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>FABZERO 2021</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-12">
<p> A journey at the intersection between digital fabrication, electronics, textiles and prototyping.
<!--Bekijk <a href="https://docs.google.com/document/d/1j6l5XAXaJyxChYeGSWn2q6vYan0AWbrq2lXoJ-7O8h4/edit?usp=sharing"> hier het lesrooster</a> -->
</p>

<h3>WAT?</h3>
<p>FabZero is een intensief multidisciplinair opleidingstraject waarbij je meester wordt in de digitale technieken die eigen zijn aan de expert maker. Het is gebaseerd op het basisprincipe: <strong>leren + maken + delen</strong>. 
De ideale voorbereiding op het internationale door MIT opgericht opleiding <a href="http://fabacademy.org/">Fab Academy</a>.
</p>
<p>Het programma is gestructureerd in twee fasen:</p>
<ul>
    <li>4 maanden intensief leren: 12 modules over 16 weken met wekelijkse online lessen (live streaming) door experts en wekelijkse openlabs  om de opdrachten te maken begeleid door de lokale instructeurs en makers gemeenschap.</li>
    <li>3 maanden projectontwikkeling: ruime tijd om op eigen tempo je eigen geïntegreerd eindproject (GIP) te maken, geadviseerd door de expert lesgevers en de lokale instructeurs.</li>
</ul>
<p>We sluiten af met een Expo van de afstudeerprojecten en diploma uitreiking. </p>

<p>FabZero ontvouwt zich <strong>modulair</strong> over <strong>4 specialisaties</strong> en niveaus. De modules kunnen gecombineerd worden tot een gepersonaliseerd traject. </p>
<p>We bieden 3 trajecten aan: FabZero makers, FabZero IT, FabZero mix & match. Elk traject bestaat uit minstens 45 contacturen plus 40 uur zelfstandig werk. Het GIP  voorziet minstens 6 contacturen plus minstens 18 uur zelfstandig werk.</p>

<ul>
    <li><a href="https://docs.google.com/document/d/1lhjT3WQbX35yhTGkJDzMt77nV7AwHtX9_fQi0IHlo0s/edit?usp=sharing">Overzicht modules FabZero Basis</a></li>
    <li><a href="https://docs.google.com/document/d/1bl7-ywMzhpsgodUE-nDBxxCQ3YMfOeYthoc1ZQdS45o/edit?usp=sharing">Uurrooster FabZero basis 2021</a></li>
    <li><a href="https://docs.google.com/document/d/1x6uh5Ze_f0tuwbVleM7wkFhqpQEFYsGQJMs5_zyu9vI/edit?usp=sharing">Overzicht modules FabZero IT voor makers</a></li>
    <li><a href="https://docs.google.com/document/d/1YzxYlbjHEzaBQwe-iNmUJTEsyywcBUV_shbWpfI2p4g/edit?usp=sharing">Uurrooster Fabzero IT voor makers 2021</a></li>
</ul>

<p> De trajecten zijn opgebouwd rond deze 4 lijnen: </p>
<ul>
 <li>Digitaal Maken voor makers: 2d en 3d digitaal ontwerpen, lasersnijden, 3d printen, snijplotten, cnc frezen, digitaal borduren, digitale kledij ontwerp. </li>
  <li>Materialen &amp; prototyping voor makers: materialen en eigenschappen, smart materials, prototyping principes, prototyping technieken, productpresentatie voor makers. </li>
  <li>Elektronica voor makers: basis elektronica, micro-elektronica via Arduino, programmeren van Arduino met sensoren en actuatoren, smart textiles, PCB’s maken. </li>
 <li>IT voor makers: Git en GitHub/GitLab, Python, IOT, gevorderde Arduino, Raspberry Pi, AI en Machine Learning. </li>
</ul>
<p> In het traject FabZero makers maak je dan ook een keuze tussen drie specialisaties afhankelijk van je interesse en niveau.
De wekelijkse les (contacturen) wordt gecombineerd met 1 dag open lab om de taken uit te voeren en de machines te leren gebruiken. 
Elke module bestaat uit één of meerdere sessies. Alle sessies zijn georganiseerd in slots van 3 uur. Het doel is een gedegen digitale opleiding die zal leiden tot permanente kennisverankering. </p>


<h3>VOOR WIE? </h3>
<p>Aangeraden minimumleeftijd is 16 jaar. Ben je jonger en wil je toch deelnemen? Vraag dan <a href="mailto:jill@decreatievestem.be;info@decreatievestem.be">een intake gesprek aan</a>.</p>
<p>FabZero is voor iedereen die interesse heeft in de zogenaamde Key Enabling Technologies (KETs): digital fabrication, electronics and advanced materials, alsook voor iedereen die interesse heeft in de wereld van de makers waar de begrippen Maker Space, FabLab en Open Source vaste waarden zijn.</p>

<h3>PRAKTISCH</h3>
<h4>Inschrijven voor een traject</h4>
<p>Je hebt drie mogelijkheden. Je kiest tussen twee modeltrajecten: 
    <ul>
        <li>FabZero makers </li>
        <li>FabZero IT</li>
    </ul>
<p>Of je stelt je eigen traject samen: FabZero mix &amp; match, zie verder </p>

</div>
</div>
</div>

<div class="container pt-3">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Inschrijven voor FabZero traject? </strong>  </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="https://forms.gle/6SXgU6aHs3fzivTaA" class="button">Inschrijven</a>
      <!--a href="https://forms.gle/3Tgr9H4MXWxfjyFk9" class="button">Schrijf je hier in!</a-->
        
    </div>
  </div>
</div>


<div class="container">
<div class="row">
<div class="col-12">
&nbsp;
<p>Meer info nodig, neem <a href="mailto:info@decreatievestem.be;">contact op met ons</a> om in gesprek te gaan met de consulent.</p>

<h4>Diploma en Eindproject</h4>
<p>Om je diploma te kunnen halen moet je minstens: </p>
<ol><li>5 modules gevolgd hebben</li>
    <li>een eindproject gemaakt hebben</li>
</ol>
<p>Wat verwachten we van een eindproject? Lees aandachtig <a href="https://drive.google.com/file/d/1eAkY52KOy3nt_i3voOhKfclA9JPwRJXO/view?usp=sharing">dit document</a>.</p>

<h4>Certificaat van deelname</h4>
<p>Volg je het opleidingstraject maar dien je geen eindproject in, dan ontvang je een certificaat van deelname. </p>
    
<h4>Op eigen tempo</h4>
<p>Geen tijd op het lesmoment? Geen probleem, de lessen worden opgenomen en kunnen achteraf bekeken worden. Er is ruime tijd en flexibiliteit voorzien om de taken af te werken</p>

<h4>Inschrijven voor losse modules</h4>
<p>Indien je niet van plan bent om een diploma of certificaat te halen en enkel uit interesse afzonderlijke modules wil volgen, dit kan, via <strong>FabZero mix &amp; match.</strong></p>
    
</div>
</div>
</div>

<div class="container pt-3">
  <div class="call">
    <div class="call-box-top">
      <div class="call-phone"><strong>Een losse module volgen? </strong>  </div>
     
    </div>
    <div class="call-box-bottom">
      <a href="https://forms.gle/A1xQajx7HwKTj2DQ8" class="button">Inschrijven</a>
    </div>
  </div>
</div>

<div class="container">
<div class="row">
<div class="col-12">
&nbsp;
    
<p>Er is ook de mogelijkheid om geen lessen te volgen en enkel het project af te leggen. Meer info? Neem <a href="mailto:info@decreatievestem.be;">contact op met ons</a>.</p>
    

<h4>Wekelijks openlab in eigen regio</h4>
<p>De lesmomenten zijn online te volgen via Zoom, daarnaast kan je wekelijks terecht in de open labs in één van de participerende makerspace. Kan je niet naar de Ingegno MakerSpace te Drongen? Kies dan een FabLab/MakerSpace in je buurt, of een van de aangesloten labs:</p>
<ul>
<li>Ingegno Maker Space, Antoon Catriestraat, 6 Drongen;</li>
<li>Masala, Meibloemstraat 18, Gent;</li>
<li>Bulb, Meulestedekaai 1, 9000 Gent</li>
<li>MaM, Rijselstraat 1, 8200 Brugge;</li>
<li>Buda::Lab, Dam 2, 8500 Kortrijk;</li>
<li>ULB Fritz Toussaintstraat 8, 1050 Elsene; </li>
<li>Maker Space Antwerpen, Tolhuis, Sint-Pietersvliet 7, 2000 Antwerp; </li>
<li>KdG FabLab, Salesianenlaan 90, 2660 HOBOKEN</li>
<li>JES Gent, De Expeditie, Dok Noord 4F, 9000 Gent</li>
</ul>
    
<h4>Toelatingsvoorwaarden </h4>
<p>Er is geen diploma vereist om in te schrijven. </p>
<h4>Voorkennis</h4>

 
<ol>
    <li>Voor het traject FabZero makers is er geen specifieke voorkennis nodig, basis computer en digitale vaardigheden zijn wel vereist. Hieronder vallen: 
        <ul>
            <li>Kunnen gebruik maken van E-mail</li>
            <li>Openen en verzenden van bijlagen</li>
            <li>Aanmaken van een mailaccount</li>
            <li>Webcam aan/uit zetten</li>
            <li>Software kunnen installeren</li>
            <li>Basis tekstverwerker kunnen gebruiken, bv. google docs</li>
            <li>Vertrouwd zijn met het gebruik van een externe muis (niet enkel touchpad)</li>
            <li>Folders aanmaken op bv Bureaublad</li>
            <li>Files opslaan en delen</li>
            <li>Whatsapp of gelijkaardige applicatie kunnen gebruiken</li>
            <li>Basiskennis Engels om eventuele tutorials te kunnen doornemen.</li>
        </ul>
        In deze opleiding leer je de de basis digitale productietechnieken aan. Elke week wordt een nieuw onderwerp overlopen waaraan er een taak verbonden is. De bedoeling is om die taak uit te voeren in een makerspace in je buurt om vertrouwd te geraken met de technieken. Tijdens het traject is er een reeks vaste modules en een keuzetraject. Voor het keuzetraject kies je een onderwerp waar je jezelf in wilt verdiepen. Naast de lessen krijg je ook tijd om te werken aan een eindwerk, dat is een project naar keuze die je op het eind van de opleiding kan voorstellen op onze expo. 
    </li>
    <li>Voor het traject FabZero IT is voorkennis vereist. Deze opleiding is gericht op makers die al enige basis verworven hebben rondom digitale productietechnieken. Hier ligt de focus voornamelijk op programmeren en elektronica. Je kan kiezen om aan het volledige traject deel te nemen of een aantal topics te kiezen. <br/>
        
    Voor dit traject nemen we aan dat je ofwel FabZero makers  reeds gevolgd ofwel ben je vertrouwd met het begrip FabLab en/of Maker Space en ben je op de hoogte van wat de maker community is. Je hebt basisnoties programmeren (in eender welk domein) en/of elektronica. Je weet wat open source betekent. <br/>
    
    In de verschillende modules van dit traject wordt er telkens vanuit de basis vertrokken maar men bouwt snel op naar een half-gevorderden (of gevorderden) niveau. 
    </li>
    <li>Voor het traject FabZero mix &amp; match, ga je zelf op zoek naar je ideale niveau afhankelijk van je specifieke interesse en achtergrond. </li>
</ol>
<p>Meer info? Neem <a href="mailto:info@decreatievestem.be;">contact op met ons</a>.</p>
    
    
<h3>KOSTEN</h3>
<p>De opleiding is gratis voor wie recht heeft op vrijstelling van betaling anders is de kostprijs voor het opleidingstraject <strong>300 EUR</strong> inclusief studiemateriaal, toegang tot de openlab, gebruik machines en basis verbruiksmaterialen tijdens de openlabs. </p>
<p>Inschrijven voor losse modules is mogelijk, inschrijvingsgeld vanaf <strong>25 EUR</strong>. Voor korting of vrijstelling van betaling zie sectie Kortingen.</p>
   
<p>Meer info? Neem <a href="mailto:info@decreatievestem.be;">contact op met ons</a>.</p>
    
<h3>KORTINGEN</h3>
    
<p>Zijn er eventuele kortingen mogelijk? Vrijstelling van betaling? </p>
<ol>
<li>Halvering inschrijvingsgeld voor studenten middelbaar of hoger onderwijs.</li>
<li>Korting of vrijstelling van inschrijvingsgeld voor deelnemers met een laag inkomen. De korting bedraagt, afhankelijk van het inkomen, 50%, 80% of 100% op het cursusgeld. Neem contact op met  info@decreatievestem.be</li>
<li>Voor deelnemers jonger dan 36 jaar. Vrijstelling van betaling voor
    <ol><li>Werkzoekenden</li>
        <li>Kansengroepen. Voor het kansengroepbepaling refereren we naar de definitie zoals gehanteerd door <a href="https://www.vdab.be/cvs/kansengroepen.shtml">de VDAB kansengroepen pagina</a>.</li>
        <li>Vrouwen</li>
        <li>Hoogbegaafden</li>
        <li>Jongeren in time-out trajecten</li>
        <li>Jongeren in thuisonderwijs</li>
    </ol>
</li>
</ol>
<p>Val je niet onder één van de vernoemde categorieën maar denk je recht te hebben op een korting? Stuur een motivatiebrief naar <a href="mailto:info@decreatievestem.be;">info@decreatievestem.be</a></p>
    
 
<h3>VOORDELEN</h3>
    
<p>Na bevestiging van inschrijving heb je volgende voordelen:</p>
<ol><li>gratis toegang tot alle infrastructuur van de aangesloten partners </li>
    <li>gratis gebruik van de infrastructuur van de partners met als doel het uitwerken van de taken en het eindproject. Dit tijdens de openlabs of op afspraak met de openlab coordinator</li>
    <li>gratis materiaalgebruik voor het afwerken van de taken binnen de opleiding</li>
    <li>een onkostenvergoeding tot max 80 eur voor ontwikkeling eindproject</li>
    <li>tot 20% korting op het aanbod van de participerende partners </li>
</ol>    
    
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-12">
<p><br>
Meer informatie nodig? Neem contact op met de lokale verantwoordelijke, of het team van De Creatieve STEM (<a href="mailto:jill@decreatievestem.be;info@decreatievestem.be"> jill@decreatievestem.be en cristina@decreatievestem.be</a>) </p>
</div>
</div>
</div>


<div class="container pb-6">
<div class="row">
{% assign sorted_lessons = site.lesinhouden | sort: 'title' %}

{% assign sorted_lessons = nil %}

{% for les in sorted_lessons %}
{% if les.show == nil or les.show %}
<div class="col-12 col-md-6 mb-2 ">
<div class="testimonials testimonials-summary">
<div class="testimonials-meta">
<h2 class="testimonials-title">{{ les.title }}</h2>
<p class="testimonials-name">{{ les.name }}</p>
<p class="testimonials-jobtitle">{{ les.jobtitle }}</p>
</div>
{% if les.only_excerpt == true %}
<div class="testimonials-content">{{ les.excerpt }}</div>
{% else %}
<div class="testimonials-content">{{ les.content }}</div>
{% endif %}
</div>
</div>
{% endif %}
{% endfor %}
</div>
</div> 

