<footer id="fh5co-footer" role="contentinfo">
  <div class="container">
    <div class="row row-pb-md">
      <div class="col-md-4 fh5co-widget ">
        <h3>De Creatieve STEM.</h3>
        <p>Digitale fabricatie technieken moeten toegankelijk zijn voor iedereen. Inclusieve KET's, een project van De Creatieve STEM zorgt daarvoor, met een kwaliteitsvolle opleiding FabZero, onderdompeling in de digitale maakwereld via Bootcamps, en kennismakers via smaakmakers naar een breed publiek. Iedereen kan zich uitleven, verdiepen en verbreden in de openlabs in eigen buurt!</p>
      </div>
      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
        <ul class="fh5co-footer-links">
          <li><a href="{{site.baseurl}}/contact">Contact</a></li>
          <li><a href="{{site.baseurl}}/fabzero">FabZero</a></li>
              <li>&#9679; <a href="{{ site.baseurl }}/fabzerobasis">Basis</a></li>
              <li>&#9679; <a href="{{ site.baseurl }}/fabzeroit">IT voor makers</a></li>
              <li>&#9679; <a href="{{ site.baseurl }}/fabzeromix">Mix and Match</a></li>
              <li>&#9679; <a href="{{ site.baseurl }}/fabrizero">FabRiZero</a></li>
          <li><a href="{{ site.baseurl }}/openlab">OpenLabs</a></li>
          <li><a href="{{ site.baseurl }}/publicaties">Publicaties</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
        <ul class="fh5co-footer-links">
          <li><a href="{{site.baseurl}}/smaakmakers">Smaakmakers</a></li>
          <li><a href="{{site.baseurl}}/bootcamp">Bootcamps</a></li>
                <li>&#9679; <a href="{{ site.baseurl }}/bootcampwifirobot">WiFi Robot</a></li>
                <li>&#9679; <a href="{{ site.baseurl }}/bootcampmaker2maker">DigiMaker</a></li>
                <li>&#9679; <a href="{{ site.baseurl }}/bootcampfashion">Fashion Tech</a></li>
                <li>&#9679; <a href="{{ site.baseurl }}/bootcampfabrizero">Hacking Fashion</a></li>
          <li><a href="{{ site.baseurl }}/partners">Partners</a></li>
        </ul>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-6 col-md-push-1 ">
        <ul class="fh5co-footer-links">
            <li><a href="{{ site.baseurl }}/about">Over Ons</a></li>
            <li><a href="{{ site.baseurl }}/fabacademy">Fabacademy</a></li>
          <li><a href="https://decreatievestem.be/">De Creatieve STEM</a></li>
          <li><a href="https://maakbib.be/">MaakBib</a></li>
          <li><a href="https://girlsinstem.eu/">Girls In STEM</a></li>
        </ul>
      </div>
    </div>
      
    <div class="row row-pb-md">
        <div class="col-md-4 fh5co-widget ">
        <h3>Zoek op deze site:</h3>
    {% include search-google.html %}
        </div>
    </div>
    
    <div class="row row-pb-md">
      <div class="col-md-4 fh5co-widget ">
        <h3>Sponsors.</h3>
      </div>
    </div>
    <div class="row row-pb-md">
      <div class="col-md-2 fh5co-widget ">
          <img src="{{site.baseurl}}/assets/images/partners/Logo-DBSF.png">
      </div>
      <div class="col-md-4 fh5co-widget ">
          <img src="{{site.baseurl}}/assets/images/partners/CreatieveSTEM Logo v04.svg">
      </div>
      <div class="col-md-2 fh5co-widget ">
          <img src="{{site.baseurl}}/assets/images/partners/IngegnoLogo.png">
      </div>
    </div>

    <div class="row copyright">
      <div class="col-md-12 text-center">
        <p>
          <small class="block">&copy; 2021 De Creatieve STEM. <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported</a> </small>
          <small class="block">Based on Design by <a href="http://gettemplates.co/" target="_blank">GetTemplates.co</a> Demo Images: <a href="http://pixeden.com/" target="_blank">Pixeden</a> &amp; <a href="http://unsplash.com/" target="_blank">Unsplash</a>; <a href="https://github.com/thypirate/concept-jekyll">Concept-jekyll</a> and 2016 Free HTML5</small>
        </p>
        <p>
          <ul class="fh5co-social-icons">
            <li><a href="https://twitter.com/ingegnoMCC"><i class="icon-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/IngegnoMakerSpace/"><i class="icon-facebook"></i></a></li>
            <li><a href="https://www.linkedin.com/in/benny-malengier-4b56848/"><i class="icon-linkedin"></i></a></li>
            <li><a href="https://dribbble.com/"><i class="icon-dribbble"></i></a></li>
          </ul>
        </p>
      </div>
    </div>

  </div>
</footer>
