<div id="main-menu" class="main-menu">
  <ul>
      
    <li><a href="{{site.baseurl}}/fabzero" class="{% if page.url contains 'fabzero' %}current{% endif %}">FabZero</a></li>
      
    <li><a href="{{site.baseurl}}/bootcamp" class="{% if page.url contains 'bootcamp' %}current{% endif %}">Bootcamp</a></li>
      
    <li><a href="{{site.baseurl}}/fabacademy" class="{% if page.url contains 'fabacademy' %}current{% endif %}">FabAcademy</a></li>
    
    <li><a href="{{site.baseurl}}/partners" class="{% if page.url contains 'partners' %}current{% endif %}">Voor partners</a></li>
    
    <!--li><a href="{{site.baseurl}}/kalender" class="{% if page.url contains 'kalender' %}current{% endif %}">Agenda</a></li-->
      
    <li><a href="{{site.baseurl}}/team" class="{% if page.url contains 'team' %}current{% endif %}">Over ons</a></li>
      
    <!--li><a href="https://forms.gle/6SXgU6aHs3fzivTaA" ><b>INSCHRIJVEN</b></a></li-->
  </ul>
</div>