<div id="main-menu" class="main-menu">
  <ul>
    <li><a href="{{site.baseurl}}/team" class="{% if page.url contains 'team' %}current{% endif %}">Over ons</a></li>
      
    <li><a href="{{site.baseurl}}/services" class="{% if page.url contains 'services' %}current{% endif %}">Voor partners</a></li>
      
    <li><a href="{{site.baseurl}}/testimonials" class="{% if page.url contains 'testimonials' %}current{% endif %}">Voor deelnemers</a></li>
      
    <li><a href="{{site.baseurl}}/bootcamp" class="{% if page.url contains 'bootcamp' %}current{% endif %}">Bootcamp</a></li>
    
    <li><a href="{{site.baseurl}}/kalender" class="{% if page.url contains 'kalendert' %}current{% endif %}">Agenda</a></li>
      
    <li><a href="{{site.baseurl}}/contact" class="{% if page.url contains 'contact' %}current{% endif %}">Contact</a></li>
      
    <li><a href="https://forms.gle/fm2Pvd8KjBTAf4iy8" ><b>INSCHRIJVEN</b></a></li>
  </ul>
</div>