<!-- Nieuwe kaart Marieke https://www.google.com/maps/d/u/0/viewer?mid=1jWkTs5s2994YGN7SN-bFvUCLaCwW6QM&ll=51.04483553051109%2C4.214980400000012&z=9 -->

<iframe src="https://www.google.com/maps/d/embed?mid=1jWkTs5s2994YGN7SN-bFvUCLaCwW6QM&ehbc=2E312F" width="800" height="580"></iframe>

<!-- Leaflet based map https://leafletjs.com/examples/quick-start/ -->
<!-- OUDE KAART MET mappins.json 
         <div id="map"></div>
                    
    <script>

	var map = L.map('map').setView([51.050, 3.657], 8);
      
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);
      

	L.marker([51.050, 3.657]).addTo(map)
        .bindPopup("<b>Ingegno Maker Space! De Creatieve STEM</b><br />Openlab donderdag avond<br />Openlab zaterdag namiddag.<br /><b>Toestellen</b><br /> Lasercutter groot, CNC tabletop, snijplotters, FDM en SLA 3D printer, borduren, elektronica, vacuumformen.<br /><b>Website:</b> <a href=\"https://www.facebook.com/IngegnoMakerSpace/events/\">IngegnoMakerSpace</a>").openPopup();

    
    {% for pin in site.data.mappins %}
    var marker = L.marker([{{ pin.lat }}, {{ pin.lon }}]).addTo(map);
    marker.bindPopup("{{ pin.popuptext }}");
    {% endfor %}

	var popup = L.popup();

	function onMapClick(e) {
		popup
			.setLatLng(e.latlng)
			.setContent("Je klikt op de map op " + e.latlng.toString())
			.openOn(map);
	}

	//mymap.on('click', onMapClick);

</script>

      <p>&nbsp; </p-->