<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 text-left">
        <div id="fh5co-logo">
            <a href="{{ site.baseurl }}/index.html">
            <img alt="FabZero" src="{{ site.baseurl }}/assets/images/logo_small.svg">
            </a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <!--li class="active"><a href="index.html">Home</a></li-->
          <li class="has-dropdown">
            <a href="{{ site.baseurl }}/fabzero">FabZero</a>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/fabzerobasis">FabZero Basis</a></li>
              <li><a href="{{ site.baseurl }}/fabzeroit">FabZero IT voor makers</a></li>
              <li><a href="{{ site.baseurl }}/fabzeromix">FabZero Mix and Match</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/bootcamp">Bootcamp</a></li>
          <li><a href="{{ site.baseurl }}/partners">Voor partners</a></li>
          <li><a href="{{ site.baseurl }}/contact">Over Ons</a></li>
        </ul>
      </div>
    </div>

  </div>
</nav>
