<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 text-left">
        <div id="fh5co-logo">
            <a href="{{ site.baseurl }}/index.html">
            <img class="FabZeroLogo" id="FabZeroLogo" src="{{ site.baseurl }}/assets/images/logo_fabzero-13.svg">
            </a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <li class="has-dropdown">
            <span>FabZero</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/fabzero">Wat is FabZero?</a></li>
              <li><a href="{{ site.baseurl }}/fabzerobasis">FabZero Basis</a></li>
              <li><a href="{{ site.baseurl }}/fabrizero">FabZero Mode</a></li>
              <li><a href="{{ site.baseurl }}/fabzeroit">FabZero IT</a></li>
              <li><a href="{{ site.baseurl }}/fabzeromix">FabZero Mix &amp; Match</a></li>
              <li><a href="{{ site.baseurl }}/najaartraject">FabZero Najaar Traject</a></li>
              <li><a href="{{ site.baseurl }}/evenementen">FabZero Expo's</a></li>
              <li><a href="{{ site.baseurl }}/terugblik">FabZero Terugblik</a></li>
            </ul>
          </li>
          <li class="active"><a href="{{ site.baseurl }}/evenementen">Expo</a></li>
          <li><a href="{{ site.baseurl }}/bootcamp">Bootcamp</a></li>
          <li class="has-dropdown">
            <span>Masterclass</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/masterclass">Algemene Info</a></li>
              <li><a href="{{ site.baseurl }}/mclassmaking">Making Techniques</a></li>
              <li><a href="{{ site.baseurl }}/mclasspersbranding">Personal Branding</a></li>
              <li><a href="{{ site.baseurl }}/mclassrecycl">Recycling Plastiek</a></li>
              <li><a href="{{ site.baseurl }}/mclassdigtext2">Digital Textiles</a></li>
              <li><a href="{{ site.baseurl }}/mclassbiochromes">Biochromes</a></li>
              <li><a href="{{ site.baseurl }}/mclassknitwear">Knit &amp; Wear</a></li>
              <li><a href="{{ site.baseurl }}/mclassarduino">Arduino</a></li>
              <li><a href="{{ site.baseurl }}/mclasskeramiek">Cross-over - Keramiek</a></li>
              <li><a href="{{ site.baseurl }}/mclassneon">Neon Light</a></li>
              <li><a href="{{ site.baseurl }}/mclassfpga">FPGA - PYNQ-Z2</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <span>Netwerk</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/evenementen">Evenementen</a></li>
              <li><a href="{{ site.baseurl }}/openlab">OpenLabs - Kaart</a></li>
              <li><a href="{{ site.baseurl }}/partners">Partners</a></li>
              <li><a href="{{ site.baseurl }}/lesgevers">Lesgevers</a></li>
              <li><a href="{{ site.baseurl }}/smaakmakers">Smaakmakers</a></li>
              <li><a href="{{ site.baseurl }}/traintrainers">Train de trainer</a></li>
              <li><a href="{{ site.baseurl }}/fabacademy">FabAcademy</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/publicaties">Publicaties</a></li>
          <li class="has-dropdown">
            <span>Over Ons</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/about">Over Ons</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contacteer Ons</a></li>
              <li><a href="{{ site.baseurl }}/publicaties">Publicaties</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
