<nav class="fh5co-nav" role="navigation">
  <div class="container">
    <div class="row">
      <div class="col-xs-2 text-left">
        <div id="fh5co-logo">
            <a href="{{ site.baseurl }}/index.html">
            <img class="FabZeroLogo" id="FabZeroLogo" src="{{ site.baseurl }}/assets/images/logo_fabzero-13.svg">
            </a></div>
      </div>
      <div class="col-xs-10 text-right menu-1">
        <ul>
          <!--li class="active"><a href="index.html">Home</a></li-->
          <li class="has-dropdown">
            <span>FabZero</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/fabzero">Wat is FabZero?</a></li>
              <li><a href="{{ site.baseurl }}/fabzerobasis">FabZero Basis</a></li>
              <li><a href="{{ site.baseurl }}/fabzeroit">FabZero IT voor makers</a></li>
              <li><a href="{{ site.baseurl }}/fabzeromix">FabZero Mix and Match</a></li>
              <li><a href="{{ site.baseurl }}/fabrizero">FabRiZero</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <span>FabriZero</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/fabrizero">Wat is FabriZero?</a></li>
              <li><a href="{{ site.baseurl }}/bootcampfabrizero">Bootcamp FabriZero</a></li>
            </ul>
          </li>
          <li class="has-dropdown">
            <span>Bootcamp</span>
            <ul class="dropdown">
                <li><a href="{{ site.baseurl }}/bootcamp">Overzicht</a></li>
                <li><a href="{{ site.baseurl }}/bootcampwifirobot">WiFi Robot</a></li>
                <li><a href="{{ site.baseurl }}/bootcampmaker2maker">DigiMaker</a></li>
                <li><a href="{{ site.baseurl }}/bootcampfashion">Fashion Tech</a></li>
              <li><a href="{{ site.baseurl }}/bootcampfabrizero">Bootcamp FabRiZero</a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/partners">Partners</a></li>
          <li class="has-dropdown">
            <span>Meer</span>
            <ul class="dropdown">
              <li><a href="{{ site.baseurl }}/about">Over Ons</a></li>
              <li><a href="{{ site.baseurl }}/fabacademy">Fabacademy</a></li>
              <li><a href="{{ site.baseurl }}/openlab">OpenLabs - Kaart</a></li>
              <li><a href="{{ site.baseurl }}/smaakmakers">Smaakmakers</a></li>
              <li><a href="{{ site.baseurl }}/publicaties">Publicaties</a></li>
              <li><a href="{{ site.baseurl }}/contact">Contacteer Ons</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
